<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Czat - "<%= username %>"</title>
    <h1 class="bg-dark text-light" style="padding: 20px">Czat</h1> 
    <style>
      body {
        padding: 0px;
      }
      tab.active{
          background:rgba(255, 0, 0, 0.548);
      }
      button.btn:active{
          background:rgba(255, 254, 254, 0.541);
      }

      #messages { list-style-type: none; margin: 0; padding: 0; flex-grow: 1; }
      #messages > li { padding: 0.5rem 1rem; }
      
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 89%; max-height: 89%;">
        <div class="col-sm-4 d-flex flex-column overflow-auto">
          <ul class="nav nav-tabs">
            <div style="float: right">
              <button type="button" class="nav-item btn btn-info" data-toggle="modal" data-target="#profile">
                <%= username %>
              </button>
            </div>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active container-fluid" id="Groups">
              <ul class="nav flex-column button" id="grp-btn" style="position:relative; max-width: 50%;">
                <li class="nav-item p-2">
                  <a class="nav-link btn btn-outline-danger" href="#Global" id="room1">Global</a>
                </li>
                <li class="nav-item p-2">
                  <a class="nav-link btn btn-outline-danger" href="#CSBoiz" id="room2">CSBoiz</a>
                </li>
                <li class="nav-item p-2">
                  <a class="nav-link btn btn-outline-danger" href="#RustyNoobs" id="room3">RustyNoobs</a>
                </li>
                <li class="nav-item p-2">
                  <a class="nav-link btn btn-outline-danger" href="#Friends" id="room4">Friends</a>
                </li>

              </ul>
              <div class="form-inline" style="position: absolute; bottom: 1px">
                <button type="button" class="btn btn-success d-flex">
                  Add New Group
                </button>
                <button type="button" class="btn btn-dark d-flex ml-4" style="position: relative; bottom: 1px">
                  Remove Group
                </button>
              </div>
            </div>
            <div class="tab-pane container-fluid" id="Contacts">

            </div>

          </div>  
          <div class="modal" id="profile">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    <%= username %>
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <a class="link btn btn-warning" type="button" href="/logout">Sign Out</a>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid col-sm-8 border-left" style="max-height: 98%;">
          <div>
            <h2 class="bg-danger text-light" style="padding: 20px">Messages</h2> 
          </div>
          <div class="chat-messages" style="overflow: auto;">
            <ul class="messages" id="messages"  style="overflow: auto; height: 85%;"></ul>
          </div>
          <p></p>
          <form class="container-fluid d-flex form-inline flex-grow-1" id="form" action="" style="position: absolute;">
            <input class="form-control flex-grow-1" id="msg" type="text" autocomplete="off" style="margin-right: 5px;" />
            <button class="btn btn-primary" style="margin-right: 5px;">Send</button>
          </form>
        </div>

          <script>
            jQuery("#grp-btn .btn").click(function(){
              jQuery("#grp-btn .btn").removeClass('active');
              jQuery(this).toggleClass('active'); 
            });

            var username = document.cookie;
            
            var user = document.createElement('li');
            user.textContent = "<%= username %>";
            //const username = "<%= username %>"
            /*var socket = io({
              auth: {
                user: username
              }
            });*/

            const socket = io()

            var form = document.getElementById('form');
            var input = document.getElementById('msg');

            var room;

            document.getElementById("room1").addEventListener("click", function() {
              room = "Global";
              while(messages.firstChild)
              {
                messages.removeChild(messages.firstChild);
              }
              socket.emit('loadRoom', room);
              socket.emit('joinRoom', { username, room })
              
            })
            document.getElementById("room2").addEventListener("click", function() {
              room = "CSBoiz";
              while(messages.firstChild)
              {
                messages.removeChild(messages.firstChild);
              }
              socket.emit('loadRoom', room);
              socket.emit('joinRoom', { username, room })
              
            })
            document.getElementById("room3").addEventListener("click", function() {
              room = "RustyNoobs";
              while(messages.firstChild)
              {
                messages.removeChild(messages.firstChild);
              }
              socket.emit('loadRoom', room);
              socket.emit('joinRoom', { username, room })
              
            })
            document.getElementById("room4").addEventListener("click", function() {
              room = "Friends";
              while(messages.firstChild)
              {
                messages.removeChild(messages.firstChild);
              }
              socket.emit('loadRoom', room);
              socket.emit('joinRoom', { username, room })
              
            })
            
            socket.on('load', ({ data, room }) => {
              data.map((d) => {
                if(d.name == room)
                {
                  outputMessage(d);
                  window.scrollTo(0, document.body.scrollHeight);
                  messages.scrollTop = messages.scrollHeight;
                }
              })
            })

            form.addEventListener('submit', function(e) {
              e.preventDefault();
              let msg = e.target.elements.msg.value;
              msg = msg.trim();
              if (msg) {
                //socket.emit('chat message', { msg, room });
                socket.emit('group', { msg, room });
                e.target.elements.msg.value = '';
                e.target.elements.msg.focus();
              }
            });


            socket.on('message', function(msg) {
              outputMessage(msg)
              messages.scrollTop = messages.scrollHeight;
            });

            /*socket.on('roomUsers', ({ room, users }) => {
              outputRoomName(room);
              outputUsers(users);
            };*/

            function outputMessage(message) {
              const div = document.createElement('li');
              if(message.username == username) {
                div.style = "text-align: right; float: right; border-radius: 8px; max-width: px; position: relative; right: 0px; background-color: rgba(0, 100, 255, 0.7); border: none;color: black;padding: 10px 10px;text-decoration: none;font-size: 16px;margin: 4px 2px;cursor: pointer;";
              }
              else if(message.username == "Czat Bot: ") {
                div.style = "text-align: left; float: left; border-radius: 8px; max-width: px; position: relative; right: 0px; background-color: rgb(43, 43, 43); border: none;color: white;padding: 10px 10px;text-decoration: none;font-size: 16px;margin: 4px 2px;cursor: pointer;";
              }
              else {
                div.style = "text-align: left; float: left; border-radius: 8px; max-width: px; position: relative; right: 0px; background-color: #4CAF50; border: none;color: black;padding: 10px 10px;text-decoration: none;font-size: 16px;margin: 4px 2px;cursor: pointer;";
              }
              
              div.classList.add('messages');
              const p = document.createElement('p');
              p.classList.add('meta');
              p.innerText = message.username;
              p.innerHTML += `<span> ${message.time}</span>`;
              div.appendChild(p);
              const para = document.createElement('p');
              para.classList.add('text');
              para.innerText = message.text;
              div.appendChild(para);
              messages.appendChild(div);
              messages.innerHTML += `<li><br></br><br></br></li>`
            }

            function outputRoomName(room) {
              roomName.innerText = room;
            }

            function outputUsers(users) {
              userList.innerHTML = '';
              users.forEach((user) => {
                const li = document.createElement('li');
                li.innerText = user.username;
                userList.appendChild(li);
              });
            }
        </script>
      </div>
    </div>
  </body>
</html>