<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Czat - <%= username %></title>
    <h1 class="bg-dark text-light" style="padding: 20px">Czat</h1> 
    <style>
      body {
        padding: 0px;
      }
      tab.active{
          background:rgba(255, 0, 0, 0.548);
      }
      button.btn:active{
          background:rgba(255, 254, 254, 0.541);
      }

      #messages { list-style-type: none; margin: 0; padding: 0; flex-grow: 1; }
      #messages > li { padding: 0.5rem 1rem; }
      
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 89%; max-height: 89%;">
        <div class="col-sm-4 d-flex flex-column overflow-auto">
          <ul class="nav nav-tabs">
            <div style="float: right">
              <button type="button" class="nav-item btn btn-info" data-toggle="modal" data-target="#profile">
                <%= username %>
              </button>
            </div>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
            </li>
          </ul>
          <div class="tab-content overflow-auto">
            <div class="tab-pane active container-fluid" id="Groups">
              <ul class = "grp p-1" form="input nav flex-column button" type="submit" id="grp-btn" style="position:relative; max-width: 50%; list-style: none; max-width: px">
                <li class="nav-item p-1">
                  <a class="nav-link btn btn-outline-danger active" type="submit" href="#Global" id="Global">Global</a>
                </li>
                <li class="nav-item p-1">
                  <a class="nav-link btn btn-outline-danger" href="#CSBoiz" id="CSBoiz">CSBoiz</a>
                </li>
                <li class="nav-item p-1">
                  <a class="nav-link btn btn-outline-danger" href="#RustyNoobs" id="RustyNoobs">RustyNoobs</a>
                </li>
                <li class="nav-item p-1">
                  <a class="nav-link btn btn-outline-danger" href="#Friends" id="Friends">Friends</a>
                </li>

              </ul>
              <div class="form-inline" style="position: absolute; bottom: 1px">
                <button type="button" class="btn btn-success d-flex" data-toggle="modal" data-target="#addGroup">
                  Add New Group
                </button>
                <button type="button" class="btn btn-secondary d-flex ml-4"  data-toggle="modal" data-target="#remGroup" style="position: relative; bottom: 1px">
                  Remove Group
                </button>
              </div>
            </div>
            <div class="tab-pane container-fluid w-50" id="Contacts">
              <ul class="float-right" id="Contacts" style="list-style: none; max-width: px">
              </ul>
            </div>
          </div>  
          <div class="modal" id="profile">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    <%= username %>
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <a class="link btn btn-warning" type="button" href="/logout">Sign Out</a>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="addGroup">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    Group Name:
                    <form class="container-fluid form-inline" id="group-form" action="">
                      <input class="form-control p-1 m-1 " type="text" id="txt" required pattern="\S+" />
                      <button class="btn btn-primary" type="button">Add Group</button>
                    </form>
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="remGroup">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    Sorry! Not Implemented.
                    <form class="container-fluid form-inline" id="group-rem" action="">
                      <input class="form-control p-1 m-1 " type="text" id="txt" required pattern="\S+" />
                      <button class="btn btn-primary disabled" type="button">
                        <span class="spinner-grow spinner-grow-sm"></span>
                        Remove Group
                      </button>
                    </form>
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid col-sm-8 border-left" style="max-height: 98%;">
          <div>
            <h2 class="bg-danger text-light" style="padding: 20px">Messages</h2> 
          </div>
          <div class="chat-messages" style="overflow: auto;">
            <ul class="messages" id="messages"  style="overflow: auto; height: 85%;"></ul>
          </div>
          <p></p>
          <form class="container-fluid d-flex form-inline flex-grow-1" id="form" action="" style="position: absolute;">
            <input class="form-control flex-grow-1" id="msg" type="text" autocomplete="off" style="margin-right: 5px;" />
            <button class="btn btn-primary" style="margin-right: 5px;">Send</button>
          </form>
        </div>

          <script>
            jQuery("#grp-btn .btn").click(function(){
              jQuery("#grp-btn .btn").removeClass('active');
              jQuery(this).toggleClass('active'); 
            });

            var username = document.cookie;
            
            var user = document.createElement('li');
            user.textContent = "<%= username %>";
            //const username = "<%= username %>"
            /*var socket = io({
              auth: {
                user: username
              }
            });*/

            const socket = io()

            //socket.emit("loadGroup");

            socket.on('allUsers', (data) => {
              data.map((d) => {
                listUsers(d.username)
              })
            })

            function listUsers(user) {
              var li = document.createElement('li');
              
              li.classList.add("nav-item", "p-1");
              li.style = ("list-style: none;")
              var a = document.createElement('a');
              a.classList.add("nav-link", "btn", "btn-outline-primary");
              a.style = ("")
              a.innerText = user;
              a.id = user;
              li.appendChild(a);
              
              document.getElementById("Contacts").appendChild(li);
              jQuery("#grp-btn .btn").click(function(){
                jQuery("#grp-btn .btn").removeClass('active');
                jQuery(this).toggleClass('active'); 
              });
            }
            
            socket.on("loadRoom", function(data) {
              data.map((d) => {
                  makeRoom(d.name);
                })
              })

            var form = document.getElementById('form');
            var input = document.getElementById('msg');
            var group = document.getElementById("grp-btn");
            var newGroup = document.getElementById("group-form");

            var room = "Global";
            while(messages.firstChild)
            {
              messages.removeChild(messages.firstChild);
            }
            socket.emit('loadRoom', room);
            socket.emit('joinRoom', { username, room })

            group.addEventListener("click", function(e) {
              e.preventDefault;
              
              room = e.target.id;
              console.log(room);
              while(messages.firstChild)
              {
                messages.removeChild(messages.firstChild);
              }
              socket.emit('loadRoom', room);
              socket.emit('joinRoom', { username, room })
            })

            newGroup.addEventListener("submit", function(e) {
              e.preventDefault;
              let txt = e.target.elements.txt.value;
              console.log(txt);
              makeRoom(txt);
              
              e.target.elements.txt.value = '';
              socket.emit("group", txt);
            })

            function makeRoom(txt) {
              const li = document.createElement('li');
              li.classList.add("nav-item", "p-1", "m-0"); 
              var a = document.createElement('a')
              a.classList.add("nav-link", "btn", "btn-outline-danger")
              a.innerText = txt;
              a.ref = `#${txt}`;
              a.id = txt;
              li.appendChild(a);
              document.getElementById("grp-btn").appendChild(li);
              jQuery("#grp-btn .btn").click(function(){
                jQuery("#grp-btn .btn").removeClass('active');
                jQuery(this).toggleClass('active'); 
              });
            }

            socket.on('load', ({ data, room }) => {
              data.map((d) => {
                if(d.name == room)
                {
                  outputMessage(d);
                  window.scrollTo(0, document.body.scrollHeight);
                  messages.scrollTop = messages.scrollHeight;
                }
              })
            })

            form.addEventListener('submit', function(e) {
              e.preventDefault();
              let msg = e.target.elements.msg.value;
              msg = msg.trim();
              if (msg) {
                socket.emit('chat message', { msg, room });
                //socket.emit('group', { msg, room });
                e.target.elements.msg.value = '';
                e.target.elements.msg.focus();
              }
            });

            socket.on('message', function(msg) {
              outputMessage(msg)
              messages.scrollTop = messages.scrollHeight;
            });

            /*socket.on('roomUsers', ({ room, users }) => {
              outputRoomName(room);
              outputUsers(users);
            };*/

            function outputMessage(message) {
              const div = document.createElement('li');
              if(message.username == username) {
                div.classList.add("btn", "btn-primary")
                div.style = ("text-align: right; float: right; max-width: px; border-radius: 16px; max-height: 80px;")
                //div.style = "text-align: right; float: right; border-radius: 8px; max-width: px; position: relative; right: 0px; background-color: rgba(0, 100, 255, 0.7); border: none;color: black;padding: 10px 10px;text-decoration: none;font-size: 16px;margin: 4px 2px;cursor: pointer;";
              }
              else if(message.username == "Czat Bot: ") {
                div.classList.add("btn", "btn-dark")
                div.style = ("text-align: left; float: left; max-width: px; border-radius: 16px; max-height: 80px;")
              }
              else {
                div.classList.add("btn", "btn-success")
                div.style = ("text-align: left; float: left; max-width: px; border-radius: 16px; max-height: 80px;")
              }
              
              div.classList.add('messages');
              const p = document.createElement('p');
              p.classList.add('meta', "card-title");
              p.innerText = message.username + "";
              p.innerHTML += `<span> ${message.time}</span>`;
              div.appendChild(p);
              const para = document.createElement('p');
              para.classList.add('text');
              para.innerText = message.text;
              div.appendChild(para);
              messages.appendChild(div);
              messages.innerHTML += `<li><br></br><br></li>`
            }

            function outputRoomName(room) {
              roomName.innerText = room;
            }

            function outputUsers(users) {
              userList.innerHTML = '';
              users.forEach((user) => {
                const li = document.createElement('li');
                li.innerText = user.username;
                userList.appendChild(li);
              });
            }
        </script>
      </div>
    </div>
  </body>
</html>